.container {
  padding: 1.5rem;
  border: #0070f3 2px solid;
  background-color: #DEE5EE;
  display: flex;
  justify-content: space-between;
  align-items: center;
border-radius: 20px;
  margin-top: 10px;
  margin-bottom: 2rem;

}